@model List<ProyectoProgra6.Models.sp_RetornaCliente_Result>
@{
    ViewBag.Title = "ClientesLista";
}

<h2>Lista de Clientes</h2>
<a href="~/Clientes/ClienteNuevo">Agregar Clientes</a>
<table class="table">
    <tr>
        <th>Nombre Completo</th>
        <th>Correo</th>
        <th>Provincia</th>
        <th>Acciones</th>
    </tr>
    @{
        foreach (ProyectoProgra6.Models.sp_RetornaCliente_Result posicionModelo
            in this.Model)
        {
            <tr>
                <td>@posicionModelo.Nombre @posicionModelo.PrimerApellido @posicionModelo.SegundoApellido</td>
                <td>@posicionModelo.Correo_Electronico</td>
                <td>@posicionModelo.nombreProvincia</td>
                <td>
                    <a href="~/Clientes/ClienteModifica?id_Persona=@posicionModelo.Id_Cliente">Modificar</a>
                    <br />
                    <a href="~/Clientes/ClienteElimina?id_Persona=@posicionModelo.Id_Cliente">Eliminar</a>
                </td>
            </tr>
        }
    }
</table>
