
@{
    ViewBag.Title = "Modificar Cliente";
}

<h2>Modifica un Cliente</h2>

<form id="frmNuevoCliente" method="post">
    <div class="form-group">
        <label>Primer Apellido:</label>
        <input type="text" name="PrimerApellido" id="PrimerApellido" class="form-control" value="@Model.primerApellido"/>
    </div>

    <div class="form-group">
        <label>Segundo Apellido:</label>
        <input type="text" name="SegundoApellido" id="SegundoApellido" class="form-control" value="@Model.segundoApellido"/>
    </div>

    <div class="form-group">
        <label>Nombre:</label>
        <input type="text" name="Nombre" id="Nombre" class="form-control" value="@Model.Nombre"/>
    </div>
    <div class="form-group">
        <label>Cedula:</label>
        <input type="text" name="Cedula" id="Cedula" class="form-control" value="@Model.Cedula"/>
    </div>
    <div class="form-group">
        <label>Teléfono :</label>
        <input type="text" name="Telefono" id="Telefono" class="form-control" value="@Model.Telefono"/>
    </div>
    <div class="form-group">
        <label>Correo electrónico</label>
        <input type="text" name="Correo_Electronico" id="Correo_Electronico" class="form-control" value="@Model.Correo_Electronico"/>
    </div>
    <div class="form-group">
        <label>Dirección Física</label>
        <input type="text" name="Direccion_Fisica" id="Direccion_Fisica" class="form-control" value="@Model.Direccion_Fisica"/>
    </div>
    <div class="form-group">
        <label>Provincia:</label>
        <select name="id_Provincia" id="id_Provincia" class="form-control">
            <option value="">Seleccion una provincia</option>
            @{
                foreach (ProyectoProgra6.Models.sp_RetornaProvincias_Result provincia
                in this.ViewBag.ListaProvincias)
                {
                    bool esIdProvinciaModelo = provincia.id_provincia == Model.id_Provincia;
                    @*
                Incluir la propiedad selected para que la opcion aparezca seleccionada.
                Se compara la propiedad id_Provincia del objeto del ViewBag contra la propiedad
                id_Provincia del moledo de la vista
                    *@
                    if (esIdProvinciaModelo)
                    {
                        <option value="@provincia.id_provincia" selected>@provincia.nombre.ToUpper() </option>
                    }
                    else
                    {
                        <option value="@provincia.id_provincia">@provincia.nombre.ToUpper() </option>
                    }
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label>Canton:</label>
        <select name="Id_Canton" id="Id_Canton" class="form-control">
            <option value="">Seleccion un canton</option>
            @{
                foreach (ProyectoProgra6.Models.sp_RetornaCantones_Result canton
                    in this.ViewBag.ListaCantones)

                {
                    bool esIdCantonModelo = canton.id_canton == Model.id_Canton;
                    @*
                Incluir la propiedad selected para que la opcion aparezca seleccionada.
                Se compara la propiedad id_Canton del objeto del ViewBag contra la propiedad
                id_Canton del moledo de la vista
                    *@
                    if (esIdCantonModelo)
                    {
                        <option value="@canton.id_canton" selected>@canton.nombre.ToUpper() </option>
                    }
                    else
                    {
                        <option value="@canton.id_canton">@canton.nombre.ToUpper() </option>
                    }
                }

            }
        </select>
    </div>
    <div class="form-group">
        <label>Distrito:</label>
        <select name="Id_Distrito" id="Id_Distrito" class="form-control">
            <option value="">Seleccione un distrito</option>
            @{
                foreach (ProyectoProgra6.Models.sp_RetornaDistritos_Result distrito
                    in this.ViewBag.ListaDistritos)
                {
                    bool esIdDistritoModelo = distrito.id_distrito == Model.id_Distrito;
                    @*
                Incluir la propiedad selected para que la opcion aparezca seleccionada.
                Se compara la propiedad id_Distrito del objeto del ViewBag contra la propiedad
                id_Distrito del moledo de la vista
                    *@
                    if (esIdDistritoModelo)
                    {
                        <option value="@distrito.id_distrito" selected>@distrito.nombre.ToUpper() </option>
                    }
                    else
                    {
                        <option value="@distrito.id_distrito">@distrito.nombre.ToUpper() </option>
                    }

                }

            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Modificar" id="btnModificar" />
    </div>

    <a href="~/Clientes/ClientesLista">Regresar a la lista</a>
</form>
@section scripts{
    <script src="~/Scripts/Clientes/ClienteNuevo.js"></script>
    <script src="~/Scripts/Clientes/ClienteModificarGeografia.js"></script>
}